{{ partial "head.html" . }}

<body>
  <div id="blog">
    {{ partial "header.html" . }}
    {{ partial "sidebar.html" . }}
    {{ partial "post/header-cover.html" . }}
    <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}" class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
      <section class="postShorten-group main-content-wrap">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
        {{ range $paginator.Pages }}
        {{ .Render "summary" }}
        {{ end }}
        {{ partial "pagination.html" . }}
      </section>
      <div class="text-center">
        <!-- Start of WebFreeCounter Code -->
        <a href="https://www.webfreecounter.com/" target="_blank"><img
            src="https://www.webfreecounter.com/hit.php?id=gmuxxkpo&nd=6&style=1" border="0" alt="blog counter"></a>
        <!-- End of WebFreeCounter Code -->
      </div>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "foot.html" . }}